<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改新闻信息</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" name="viewport"/>
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <script charset="utf-8" th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/layui/layui.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/js/xadmin.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/js/vue.js}" type="text/javascript"></script>
</head>
<body>
<div class="layui-fluid" id="vmUpdateNews">
    <div class="layui-row">
        <form class="layui-form">
                                                                                                    <div class="layui-form-item">
                            <label class="layui-form-label" for="title">
                                <span class="x-red">*</span>标题
                            </label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block">
                                 <input class="layui-input" id="title" name="title" lay-verify="required" type="text" v-model="news.title">                                 </div>
                            </div>
                        </div>
                    
                                                                                        <div class="layui-form-item">
                            <label class="layui-form-label" for="content">
                                <span class="x-red">*</span>内容
                            </label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block">
                 <textarea class="layui-textarea" id="content" name="content" lay-verify="required" rows="4" v-model="news.content"></textarea>                                                 </div>
                            </div>
                        </div>
                    
                                                                                        <div class="layui-form-item">
                            <label class="layui-form-label" for="description">
                                <span class="x-red">*</span>描述
                            </label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block">
                 <textarea class="layui-textarea" id="description" name="description" lay-verify="required" rows="4" v-model="news.description"></textarea>                                                 </div>
                            </div>
                        </div>
                    
                                                                                        <div class="layui-form-item">
                            <label class="layui-form-label" for="type">
                                <span class="x-red">*</span>新闻类型
                            </label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block">
                                 <input class="layui-input" id="type" name="type" lay-verify="required" type="text" v-model="news.type">                                 </div>
                            </div>
                        </div>
                    
                                                                
                                                                
                                        <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="edit" lay-submit="">
                    确认修改
                </button>
            </div>
        </form>
    </div>
</div>
<script charset="UTF-8" type="text/javascript">

    var editNewsId = sessionStorage.getItem("editNewsId");

    vm = new Vue({
        el: "#vmUpdateNews",
        data: {
            news: {}
        },
        methods: {},
        created: function () {
            var _this = this;
            $.ajax({
                url: "/news/findById",
                data: {
                    "id": editNewsId
                },
                dataType: "json",
                type: "get",
                success: function (result) {
                    if (result.code === 200) {
                        _this.news = result.data;
                    } else {
                        layer.alert("获取修改新闻信息信息失败！");
                    }
                }
            });

        }
    });

    layui.use(['form', 'layer', 'laydate'],
            function () {
                var form = layui.form,
                        layer = layui.layer,
                        laydate = layui.laydate;

                //监听提交
                form.on('submit(edit)',
                        function (data) {

                            //组装数据
                            data.field.id = editNewsId;

                            //发异步，把数据提交给controller
                            $.ajax({
                                url: "news/update",
                                data: JSON.stringify(data.field),
                                dataType: "json",
                                contentType: "application/json",
                                type: "put",
                                success: function (result) {
                                    if (result.code === 200) {
                                        layer.msg("修改成功", {icon: 6, time: 500},
                                                function () {
                                                    //关闭当前frame
                                                    xadmin.close();
                                                    // 可以对父窗口进行刷新
                                                    xadmin.father_reload();
                                                });
                                    } else {
                                        layer.alert(result.msg);
                                    }
                                }
                            });

                            return false;
                        });

            });
</script>
</body>
</html>
