<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新闻信息详情</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" name="viewport"/>
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <script charset="utf-8" th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/layui/layui.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/js/xadmin.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/js/vue.js}" type="text/javascript"></script>
</head>
<body>
<div class="layui-fluid" id="vmViewNews">
    <div class="layui-row">
        <form class="layui-form">
                                                                            <div class="layui-form-item">
                        <label class="layui-form-label" for="title">
                            标题
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline layui-show-xs-block">
                                <div style="line-height: 36px" id="title" v-text="news.title"></div>
                            </div>
                        </div>
                    </div>
                                                                <div class="layui-form-item">
                        <label class="layui-form-label" for="content">
                            内容
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline layui-show-xs-block">
                                <div style="line-height: 36px" id="content" v-text="news.content"></div>
                            </div>
                        </div>
                    </div>
                                                                <div class="layui-form-item">
                        <label class="layui-form-label" for="description">
                            描述
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline layui-show-xs-block">
                                <div style="line-height: 36px" id="description" v-text="news.description"></div>
                            </div>
                        </div>
                    </div>
                                                                <div class="layui-form-item">
                        <label class="layui-form-label" for="type">
                            新闻类型
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline layui-show-xs-block">
                                <div style="line-height: 36px" id="type" v-text="news.type"></div>
                            </div>
                        </div>
                    </div>
                                                                <div class="layui-form-item">
                        <label class="layui-form-label" for="createTime">
                            发布时间
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline layui-show-xs-block">
                                <div style="line-height: 36px" id="createTime" v-text="news.createTime"></div>
                            </div>
                        </div>
                    </div>
                                                                <div class="layui-form-item">
                        <label class="layui-form-label" for="updateTime">
                            修改时间
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline layui-show-xs-block">
                                <div style="line-height: 36px" id="updateTime" v-text="news.updateTime"></div>
                            </div>
                        </div>
                    </div>
                                        <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" onclick="xadmin.close();" style="width: 100px;">
                    返回
                </button>
            </div>
        </form>
    </div>
</div>
<script charset="UTF-8" type="text/javascript">

    var viewNewsId = sessionStorage.getItem("viewNewsId");

    vm = new Vue({
    el: "#vmViewNews",
    data: {
    news: {}
    },
    methods: {},
    created: function () {
        var _this = this;
        $.ajax({
            url: "/news/findById",
            data: {
                "id": viewNewsId
            },
            dataType: "json",
            type: "get",
            success: function (result) {
                if (result.code === 200) {
                    _this.news = result.data;
                } else {
                    layer.alert("获取修改新闻信息信息失败！");
                }
            }
        });

    }
    });

    layui.use(['form', 'layer', 'laydate'], function () {});
</script>
</body>
</html>
