<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加${comments}</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" name="viewport"/>
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <script charset="utf-8" th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/layui/layui.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/js/xadmin.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/js/vue.js}" type="text/javascript"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            #foreach($column in $columns)
                #if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
                    #if($column.attrname != 'createTime' && $column.attrname != 'updateTime')
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="$column.attrname">
                                <span class="x-red">*</span>$column.comments
                            </label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block">
    #if($column.dataType == 'longtext') <textarea class="layui-textarea" id="$column.attrname" name="$column.attrname" lay-verify="required" rows="4"></textarea> #end
    #if($column.dataType == 'text') <textarea class="layui-textarea" id="$column.attrname" name="$column.attrname" lay-verify="required" rows="4"></textarea> #end
    #if($column.dataType == 'varchar') <input class="layui-input" id="$column.attrname" name="$column.attrname" type="text"> #end
    #if($column.dataType == 'int') <input class="layui-input" id="$column.attrname" name="$column.attrname" type="number"> #end
    #if($column.dataType == 'double') <input class="layui-input" id="$column.attrname" name="$column.attrname" type="number" step="0.1"> #end
                                </div>
                            </div>
                        </div>
                    #end
                #end
            #end
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="">
                    确认添加
                </button>
            </div>
        </form>
    </div>
</div>
<script charset="UTF-8" type="text/javascript">

    layui.use(['form', 'layer'],
            function () {
                var form = layui.form,
                        layer = layui.layer;

                //监听提交
                form.on('submit(add)',
                        function (data) {
                            //发异步，把数据提交给java
                            $.ajax({
                                url: "/${classname}/save",
                                data: JSON.stringify(data.field),
                                dataType: "json",
                                type: "post",
                                contentType: "application/json",
                                success: function (result) {
                                    if (result.code === 200) {
                                        layer.msg("增加成功", {icon: 6, time: 500},
                                                function () {
                                                    //关闭当前frame
                                                    xadmin.close();
                                                    // 可以对父窗口进行刷新
                                                    xadmin.father_reload();
                                                });
                                    } else {
                                        layer.alert(result.msg);
                                    }
                                }
                            });

                            return false;
                        });

            });
</script>
</body>
</html>
