<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>${comments}管理</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" name="viewport"/>
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <script charset="utf-8" th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/layui/layui.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/js/xadmin.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/js/vue.js}" type="text/javascript"></script>
</head>

<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
                <a target="_top" th:href="@{/index}">首页</a>
            </span>
    <a class="layui-btn layui-btn-small" onclick="location.reload()"
       style="line-height:1.6em;margin-top:3px;float:right" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12" id="vm${className}">
            <div class="layui-card">

                <div class="layui-card-header">
                    <button class="layui-btn" onclick="xadmin.open('添加${comments}','/${classname}Add',500,700)">
                        <i class="layui-icon"></i>添加${comments}
                    </button>
                </div>
                <div class="layui-card-body">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>序号</th>
                    #foreach($column in $columns)
                        #if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
                            <th>$column.comments</th>
                        #end
                    #end
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="${classname},i in pageInfo.list">
                            <td v-text="i+1"></td>
                        #foreach($column in $columns)
                            #if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
                            <td v-text="${classname}.$column.attrname"></td>
                            #end
                        #end
                            <td class="td-manage">
                                <button @click="edit${className}(${classname}.${pk.columnName})"
                                        class="layui-btn layui-btn-warm"
                                        id="edit${className}"
                                        onclick="xadmin.open('编辑${comments}','/${classname}Edit',500,700)">
                                    <i class="layui-icon">&#xe631;</i>编辑
                                </button>
                                <button @click="view${className}(${classname}.${pk.columnName})"
                                        class="layui-btn"
                                        id="view${className}"
                                        onclick="xadmin.open('${comments}详情','/${classname}View',500,700)">
                                    <i class="layui-icon layui-icon-console"></i>详情
                                </button>
                                <button @click="del${className}(${classname}.${pk.columnName})"
                                        class="layui-btn layui-btn-danger"
                                        id="del${className}">
                                    <i class="layui-icon">&#xe640;</i>删除
                                </button>
                            </td>
                        </tr>
                        <tr v-if="pageInfo.total == 0">
                            <td colspan="100" style="text-align: center">暂无${comments}信息！</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body" v-if="pageInfo.total != 0">
                    <div class="page">
                        <div>
                            <a @click="getPage(pageInfo.firstPage)" class="prev" href="javascript:void(0)">
                                首页
                            </a>
                            <a @click="getPage(pageInfo.prePage)" class="prev" href="javascript:void(0)"
                               v-if="pageInfo.hasPreviousPage">
                                上一页
                            </a>
                            <span @click="getPage(pageInfo.pageNum)" class="current">{{pageInfo.pageNum}} / {{pageInfo.pages}}</span>
                            <a @click="getPage(pageInfo.nextPage)" class="next" href="javascript:void(0)"
                               v-if="pageInfo.hasNextPage">
                                下一页
                            </a>
                            <a @click="getPage(pageInfo.lastPage)" class="prev" href="javascript:void(0)"
                               v-if="!pageInfo.isLastPage">
                                末页
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">

    layui.use(['form'], function () {
    });

    vm = new Vue({
        el: "#vm${className}",
        data: {
            pageInfo: {}
        },
        methods: {
            getPage: function (pageNum, pageSize) {
                var _this = this;
                var url = "/${classname}/page?pageNum=" + pageNum;

                if (!pageSize) {
                    url += "&pageSize=" + _this.pageInfo.pageSize;
                } else {
                    url += "&pageSize=" + pageSize;
                }

                $.getJSON(url, function (data) {
                    _this.pageInfo = data;
                });
            },
            /**
             * 删除${comments}
             */
            del${className}: function (id) {
                layer.confirm('确认要删除吗？',
                        function () {
                            //发异步删除数据
                            $.ajax({
                                url: "/${classname}/deleteById",
                                data: {
                                    ${pk.columnName}: id
                                },
                                dataType: "json",
                                type: "delete",
                                success: function (result) {
                                    if (result.code === 200) {
                                        layer.msg('删除成功', {
                                            icon: 1,
                                            time: 1000
                                        });
                                        setTimeout(function () {
                                            window.location.reload();
                                        }, 1000);
                                    } else {
                                        layer.alert(result.msg, {icon: 5});
                                    }
                                }
                            });

                        });
            },
            /**
             *
             * 修改${comments}
             */
            edit${className}: function (edit${className}Id) {
                //把要修改的edit${className}Id存到sessionStorage中
                sessionStorage.setItem("edit${className}Id", edit${className}Id);
            },
            /**
             *
             * ${comments}详情
             */
            view${className}: function (view${className}Id) {
                //把要修改的view${className}Id存到sessionStorage中
                sessionStorage.setItem("view${className}Id", view${className}Id);
            }
        },
        created: function () {
            this.getPage(1, 5);
        }
    });

</script>
</html>