<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.CommentDao">

    <select id="findById" resultType="com.model.Comment">
        select `id`,`content`,`user_id`,`comment_user_id`,`create_time`        from comment
        where id = #{id}
    </select>

    <select id="findByMap" resultType="com.model.Comment">
        select `id`,`content`,`user_id`,`comment_user_id`,`create_time`        from comment
        <where>
                            <if test="id != null and id != ''">
                    and id = #{id}
                </if>
                            <if test="content != null and content != ''">
                    and content = #{content}
                </if>
                            <if test="userId != null and userId != ''">
                    and user_id = #{userId}
                </if>
                            <if test="commentUserId != null and commentUserId != ''">
                    and comment_user_id = #{commentUserId}
                </if>
                            <if test="createTime != null and createTime != ''">
                    and create_time = #{createTime}
                </if>
                    </where>
    </select>

    <select id="list" resultType="com.model.Comment">
        select `id`,`content`,`user_id`,`comment_user_id`,`create_time`        from comment
        <where>
                            <if test="id != null and id != ''">and id =
                    #{id}
                </if>
                            <if test="content != null and content != ''">and content =
                    #{content}
                </if>
                            <if test="userId != null and userId != ''">and user_id =
                    #{userId}
                </if>
                            <if test="commentUserId != null and commentUserId != ''">and comment_user_id =
                    #{commentUserId}
                </if>
                            <if test="createTime != null and createTime != ''">and create_time =
                    #{createTime}
                </if>
                    </where>
    </select>

    <insert id="save" parameterType="com.model.Comment"            useGeneratedKeys="true" keyProperty="id">
        insert into comment(<trim suffixOverrides=",">
                                                        <if test="content != null">`content`,</if>
                                                <if test="userId != null">`user_id`,</if>
                                                <if test="commentUserId != null">`comment_user_id`,</if>
                                                <if test="createTime != null">`create_time`</if>
                    </trim>)
        values (<trim suffixOverrides=",">
                                                        <if test="content != null">#{content},</if>
                                                <if test="userId != null">#{userId},</if>
                                                <if test="commentUserId != null">#{commentUserId},</if>
                                                <if test="createTime != null">#{createTime}</if>
                    </trim>)
    </insert>

    <update id="update" parameterType="com.model.Comment">
        update comment
        <set>
                                                                            <if test="content != null">`content` = #{content}
                        ,</if>
                                                                <if test="userId != null">`user_id` = #{userId}
                        ,</if>
                                                                <if test="commentUserId != null">`comment_user_id` = #{commentUserId}
                        ,</if>
                                                                <if test="createTime != null">`create_time` = #{createTime}
                        </if>
                                    </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete
        from comment
        where id = #{id}
    </delete>

</mapper>