package ${package}.controller;

import com.github.pagehelper.PageInfo;
import ${package}.model.${className};
import ${package}.service.${className}Service;
import com.utils.RequestParamsUtil;
import com.utils.ResultVOUtil;
import com.vo.ResultVO;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

/**
 * ${comments}Controller
 *
 * @author ${author}
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${classname}")
public class QuarterPlanController {

    @Autowired
    private ${className}Service ${classname}Service;

    /**
     * 查询${comments}页面
     * @return 分页${comments}数据
     */
    @GetMapping("/page")
    public PageInfo<QuarterPlan> page() {
        return ${classname}Service.page(new RequestParamsUtil().getParameters());
    }

    /**
     * 查询${comments}列表
     */
    @GetMapping("/list")
    public ResultVO list() {
        ${className} ${classname}List = ${classname}Service.list(new RequestParamsUtil().getParameters());
        return ResultVOUtil.success(${classname}List);
    }

    /**
     * 通过${pk.columnName}查询单个${comments}
     */
    @GetMapping("/getById")
    public ResultVO getById(@RequestParam(value = "${pk.columnName}") ${pk.attrType} ${pk.columnName}) {
        ${className} ${classname} =${classname}Service.getById(${pk.columnName});
        return ResultVOUtil.success(${classname});
    }

    /**
     * 添加${comments}
     */
    @PostMapping("/save")
    public ResultVO save(@RequestBody ${className} ${classname}) {
        ${classname}Service.save(${classname});
        return ResultVOUtil.success();
    }

    /**
     * 修改${comments}
     */
    @PutMapping("/update")
    public ResultVO update(@RequestBody ${className} ${classname}) {
        ${classname}Service.updatePlan(${classname});
        return ResultVOUtil.success();
    }

    /**
     * 删除${comments}
     */
    @DeleteMapping("/deleteById")
    public ResultVO deleteById(@RequestParam(value = "${pk.columnName}") ${pk.attrType}  ${pk.columnName}) {
        ${classname}Service.deleteById(${pk.columnName});
        return ResultVOUtil.success();

    }

}