package ${package}.dao;

import ${package}.model.${className};

import java.util.List;
import java.util.Map;


/**
 * ${comments}DAO
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Dao {

    ${className} findById(${pk.attrType} ${pk.attrname});

    ${className} findByMap(Map<String, Object> map);

    List<${className}> list(Map<String, Object> map);

    int save(${className} ${classname});

    int update(${className} ${classname});

    int deleteById(${pk.attrType} ${pk.columnName});

}
