package ${package}.service;

import ${package}.model.${className};
import ${package}.utils.RequestParamsUtil;

import java.util.List;
import java.util.Map;

/**
 * ${comments}Service
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service {

	/**
	 * 查询${comments}页面
	 * @return 分页${comments}数据
	 */
	PageInfo<${className}> getPage(Map<String, Object> map);

	List<${className}> list(Map<String, Object> map);

    ${className} findById(${pk.attrType} ${pk.attrname});

	${className} findByMap(Map<String, Object> map);

	int save(${className} ${classname});
	
	int update(${className} ${classname});

	int deleteById(${pk.attrType} ${pk.attrname});

}
